<div class="form-wrapper">
  <div class="form-login col-md-4 col-md-offset-4">
    <h2>Upravit svůj účet</h2>
    
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:method => :put, :multipart => true}) do |f| %>
      <%= f.error_notification %>
    
      <div class="form-inputs">
        
        <% if current_user.avatar.url.present? %>
          <%= image_tag(current_user.avatar.url(:medium)) %>
          <%= f.label :remove_avatar do %>
            <%= f.check_box :remove_avatar %>
          <% end %>
        <% end %>
        <br>
        <%= f.file_field :avatar %>
        <%= f.hidden_field :avatar_cache %>
        
        <hr>
        <%= f.input :first_name, required: false, label: 'Jméno', autofocus: true %>
        <%= f.input :last_name, required: false, label: 'Příjmení' %>
        <%= f.input :birth_name, required: false, label: 'Rodné příjmení' %>
        <%= f.input :birth_date, required: false, label: 'Datum narození' %>
        <%= f.input :birth_number, required: false, label: 'Rodné číslo' %>
        
        <!-- TODO nastavit checkbox-->
        <%= f.input :gender, collection: User.genders, as: :radio_buttons, item_wrapper_class: 'btn btn-default', checked: User.genders[@user.gender] %>
        
        
        <%= f.input :birth_place, required: false, label: 'Místo narození' %>
        
        <%= f.input :nationality, required: false, label: 'Národnost' %>
        
        <%= f.input :family_status, required: false, label: 'Rodinný stav' %>
        
        
        <%= f.input :email, required: true %>
    
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <br><hr>
        <%= f.input :password, autocomplete: "off", hint: "nechte pole prázdné, pokud nechcete měnit heslo", required: false %>
        <%= f.input :password_confirmation, required: false %>
        <br><hr>
        <%= f.input :current_password, hint: "pro uložení změn zadejte současné heslo", required: true %>
      </div>
    
      <div class="form-actions">
        <%= f.button :submit, "Upravit" %>
      </div>
    <% end %>
    
    <%= link_to "Back", :back %>
  </div>
</div>