<div class="form-wrapper">
  <div class="col-md-12"><p>
    <%= link_to "Zpět", :back, class: "btn btn-primary btn-lg" %>
  </p>
</div>
	<div class="form-login col-md-12">
	  <h2>Upravit účet : <%= @user.name %></h2>
	  <br>
	  <hr>
	  <%= simple_form_for @user, :html => {:method => :put, :multipart => true} do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
		    <div class="col-md-6">
		    	<div class="row" id="avatar">
		    	  <!-- TODO Vycentrovat obrazek i na sm rozlireni -->
		    		<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
		    			<%= f.hidden_field :avatar_cache %>
		    			
		    			<% if !current_user.avatar.file.nil? %>
            			<%= image_tag(current_user.avatar.url(:medium), alt: "Profile Picture", class: 'img-circle') %>
            	<% end %>
            	
            	<br>
            	<!-- TODO zobrazit tlačítko "změnit" po kliknutí, upload nového avataru-->
              <%= f.file_field :avatar %>
            	
            	<br><br>
		    		</div>
		    	</div>
		    	<div class="row" id="name_fields">
		    	  <div class="col-md-10 col-md-offset-1">
		    		  <hr>
              <%= f.input :first_name, required: false, label: 'Jméno', autofocus: true %>
              <%= f.input :last_name, required: false, label: 'Příjmení' %>
              <%= f.input :birth_name, required: false, label: 'Rodné příjmení' %>
            </div>
		    	</div>
		    	<div class="row" id="communication">
		    	  <div class="col-md-10 col-md-offset-1">
		    		  <hr>
              <%= f.input :email, disabled: true %>
              <!-- TODO ZDE PŘIDAT phone_number -->
            </div>
		    	</div>
		    </div>
		    <div class="col-md-6">
		      <div class="row" id="birth">
		    	  <div class="col-md-10 col-md-offset-1">
              <!-- TODO ZDE PŘIDAT gender -->
              <%= f.input :birth_date, required: false, label: 'Datum narození' %>
              <%= f.input :birth_place, required: false, label: 'Místo narození' %>
            </div>
		    	</div>
		    	<div class="row" id="personal">
		    	  <div class="col-md-10 col-md-offset-1">
		    		  <hr>
              <!-- TODO ZDE PŘIDAT ?? -->
              <%= f.input :birth_number, required: false, label: 'Rodné číslo' %>
              <%= f.input :nationality, required: false, label: 'Národnost' %>
              <%= f.input :family_status, required: false, label: 'Rodinný stav' %>
            </div>
		    	</div>
		    	<div class="row" id="personal">
		    	  <div class="col-md-10 col-md-offset-1">
		    		  <hr>
		    		  <p>Status : <%= @user.status %></p>
		    		  <p>Role : <%= @user.role %></p>
            </div>
		    	</div>
		    </div>
		    <div class="col-md-10 col-md-offset-1"><hr></div>
		    <div class="col-md-6 col-md-offset-3">
		      <br>
		      <div class="password">
            <%= f.input :current_password, hint: "pro uložení změn zadejte současné heslo!", required: false %>
		      </div>
		      <div class="form-actions">
            <%= f.button :submit, "Uložit změny", class: "btn btn-primary btn-lg btn-block" %>
          </div>
        </div>
		  </div>
		<% end %>
	</div>
</div>