<div class="form-wrapper">
  <div class="form-login col-md-4 col-md-offset-4">
    <h2>Birth step</h2>
    
    <%= simple_form_for(@user, :url => wizard_path, :method => :put) do |f| %>
        <%= f.input :birth_date, :label => "Datum narození", :placeholder => "klikněte pro výběr" %>
        <%= f.input :gender, :label => "Pohlaví", as: :radio_buttons,
        collection: ['Muž', 'Žena'], wrapper: :vertical_radio_and_checkboxes %>
        <%= f.input :birth_number, :label => "Rodné číslo", :placeholder => "112233/1234" %>
        <%= f.input :birth_place, :label => "Místo narození", :placeholder => "Praha" %>
        
        <%= f.submit "Další", :class => "btn btn-primary" %>
    
    <% end %>
    
    <%= link_to "Přeskočit", next_wizard_path %>
  </div>
</div>
