<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <%= viewport_meta_tag %>
    <title><%= content_for?(:title) ? yield(:title) : "Milestone" %></title>
    <%= csrf_meta_tags %>
    <% render 'layouts/shim' %>
    <% render 'layouts/retina_icons' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>
  
  <body class="<%= controller_name %> <%= action_name%>">
    
    <%= render 'layouts/header' %>
    
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-md-10 col-md-offset-1 ">
          <div class="col-md-8 col-md-offset-2 clearfix"><%= bootstrap_flash %></div>
          
            <div class="row">
              <%= yield :sidebar %>
              <%= yield %>
            </div>
            
        </div>
        
      </div><!--/row-->
      
      <%= render 'layouts/footer' %>

    </div> <!-- /container -->

  </body>
</html>
